<h1>HOME PAGE</h1>
@{ 
    ViewData["Title"] = "Home Page!";
}

<div>
    Hello, Welcome to CITA Home!

    <div>
        <a asp-controller="Search" asp-action="Index">Click to Search</a>
    </div>

</div>